---
import { getCollection } from "astro:content";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Contact from "@components/Contact/Contact.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";

const posts = await getCollection("posts", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Usługi" description="Kompleksowe zabiegi kosmetyczne, pielęgnacja twarzy i modelowanie sylwetki.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				Zaawansowane zabiegi kosmetyczne wykorzystujące nowoczesne technologie.
			</h1>
		</div>
		<PortfolioGrid posts={posts} />
	</div>

	<Contact class="mt-12" />
</BaseLayout>