---
import BaseLayout from "@layouts/BaseLayout.astro";
import PhotoGalleryGrid from "@components/Gallery/PhotoGalleryGrid.astro";
import Contact from "@components/Contact/Contact.astro";
---

<BaseLayout
  title="Galeria | Beauty and Care"
  description="Galeria zabiegów kosmetycznych i efektów naszej pracy w salonie Beauty and Care. Zobacz przykłady naszych usług i ich rezultaty."
>
  <div class="site-container pt-24 md:pt-36">
    <PhotoGalleryGrid />
  </div>

  <Contact class="mt-16" />
</BaseLayout>