---
import { Image } from "astro:assets";

// data
import siteData from "@config/siteData.json";

// images
import logoMain from "@images/logo-main.png";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home">
	<span class="font-heading-1 text-2xl uppercase tracking-wide text-primary-700">Beauty and Care</span>
</a>
